<div id="entity-type-select">
    <h2>Category</h2>
    <select (change)="changeEntityType($event)">
        <option *ngFor="let entityType of swapiEntityTypes">{{ entityType }}</option>
    </select>
    <button *ngIf="swapiEntityList && swapiEntityList.previous" (click)="prevPage()">Prev Page</button>
    <button *ngIf="swapiEntityList && swapiEntityList.next"(click)="nextPage()">Next Page</button>
</div>

<div  *ngIf="swapiEntityList" id="entity-item-select">
    <h2>Current Item</h2>
    <select (change)="changeEntityItem($event)">
        <option *ngFor="let entityItem of swapiEntityList.results">{{ entityItem.name }}{{ entityItem.title }}</option>
    </select>

    <table>
        <tbody>
            <tr *ngFor="let key of Object.keys(swapiEntityList.results[currentlySelectedItem])">
                <td>{{ key }}</td>
                <td>{{ swapiEntityList.results[currentlySelectedItem][key] }}</td>
            </tr>
        </tbody>
    </table>
</div>
